*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 100%;
    height: 350vh;
    background-color: rgb(11, 11, 29); 
    /* position: relative; */
    
    
}
.container2{
    width: 100%;
    height: 150vh;
    background-color: rgb(11, 11, 29);
    /* position: relative; */   
}
.container3{
    width: 100%;
    height: 200vh;
    background-color: rgb(17, 17, 40);
}
.nav{
    width: 100%;
    height: 120px;
    top: 0;
    position: sticky; 
    /* background-color: rgb(11, 11, 29); */
}
.navbar{
    width: 100%;
    height: 120px;
    background-color: rgb(11, 11, 29);  
    border-bottom:0.1px solid rgb(59, 55, 55);  
} 
.dropdown-item{
    width: 100px;
    height: 50px;
    background-color: black;
    /* display: none; */
    position: absolute;
    margin-top: -300px;
    transition: 0.5s;
    z-index: -99;
}
.dropdown-item ul{
    width: 150px;
}
.dropdown-item ul li{
    width: 100px;
    background-color: #262235;
}
.dropdown:hover .dropdown-item{
    /* display: block; */
    margin-top: -40px;
}

.logo-menu{
    width: 150px;
    height: 130px;
    float: left;
    margin-top: -0.2%;
    margin-left: 10%;
    /* background-color: aquamarine;  */
} 
.logo-menu img{
    object-fit: contain;
    width: 150px;
    height: 130px;
    
}
.navbar ul{
    width: 1140px;
    height: 60px;
    margin: auto;
    /* background-color: rgb(11, 11, 29); */
    /* border-bottom:0.1px solid rgb(59, 55, 55); */
}
.navbar ul li{
    float: left;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration:none;
    color:#B1AFB6;
    padding: 55px 20px;
    display: block;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar a:hover{
    color: white;
}
.border-style-menu{
    border-left: 1px solid #B1AFB6;
    padding: 10px 0px;
    margin: 53px 20px;
}
.buttom-menu{
    background-color:#FD5631;
    padding:10px 15px!important;
    border-radius: 20px;
    margin: 45px 9px;
    color: white!important;
}
.buttom-menu:hover{
    box-shadow: 0px 0px 15px 4px rgb(224, 216, 231);
	transition: 0.1s;
}

.box-container{
    width: 1340px;
    height: 260vh;
    margin: auto; 
    padding-top: 300px;
    display: block; 
    
    
    /* background-color: black;   */
}
.box-container2{
    width: 1340px;
    height: 100vh;
    margin: auto;
    padding-top: 300px ;
    display: block;
}
.box-container3{
    width: 1340px;
    height: 130vh;
    margin: auto;
    padding-top: 200px ; 
    display: block;
    /* background-color: #FD5631; */
}
.title{
    width: 45%;
    height: 600px;
    /* background-color: blue;  */
    float: left;
}
.img-car{
    width: 55%;
    height: 600px;
    /* background-color: rgb(91, 91, 128);  */
    float: left; 
}
.img-car img{
    width: 120%;
    height: 600px;
    margin-top: -10%;
    object-fit: contain;
}
.seemore-box{
    width: 200px;
    height: 20px;
    background-color: #FD5631;
    text-align: center;
    padding: 25px 15px;
    margin-top: 8%;
    font-weight: bolder;
    border-radius: 55px;
}
.seemore-box a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 20px;
}
.seemore-box:hover{
    box-shadow: 0px 0px 15px 4px rgb(227, 218, 236);
	transition: 0.1s;
}
.navbar2{
    width:1198px;
    height: 60px;
    float: left;
    background-color:#282435;
    border-radius: 10px;
    border: 1px solid #473f5b;
}
.navbar2 ul{
    width: 1140px;
    height: 60px;;
    margin: auto;
}
.navbar2 ul li{
    list-style-type:none;
    float: left;
}
.navbar2 ul li a{
    text-decoration: none;
    color:#B1AFB6;
    padding:6px 0px;
    padding-right: 70px;
    padding-left:20px;
    display:block;
    margin-top:14px;
    border-right:1px solid #473f5b;
}
.search:hover{
    box-shadow: 0px 0px 15px 4px rgb(224, 216, 231);
	transition: 0.1s;
}
.title-popular{
    height: 400px;
    margin-top: 40px;
    padding-top:10px;
}
.clear{
    clear: both;
}

.title-popular h1{
    color:white;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-popular-img{
    width: 1140px;
    height: 300px;
    /* background-color: #FD5631 ; */
    float: left;
    margin-top: -30%;
    
}
.popurlar-img{
    width: 17%;
    height: 150px;
    margin-left: 3.5%;
    margin-bottom: 1%; 
    text-align: center;
    border-radius: 20px;
    float: left;
    padding-top: 20px;
}
.popurlar-img{
    transition: 0.5s;
}
.popurlar-img:hover{
    background-color:#2e2842;
    box-shadow:2px 2px 2px 0px #4b426b;
}
.popurlar-img:hover p{
   color: white;
}
.popurlar-img:hover img{
    transform: scale(1.05);
 }
.popurlar-img p{
    color:#B1AFB6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title-finder{
    float: left;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.information-box{
    width: 42%;
    height:400px;
    float: left;
    
    /* background-color: #ca1f1f;  */
    margin-top: 8%; 
    margin-left: -30%;
}
.box1{
    height: 100px;
    /* background-color: rgb(134, 134, 147);   */
    margin-bottom: 20px;
    text-align:right;
}
.box1 h3{
    color: white;
}
.box1 p{
    font-size: 20px;
    padding-right:35px;
    color:#B1AFB6;
}
.box1 i{
    
    color:#FD5631;
}
.car-hover{
    text-align: center;
    box-sizing:border-box;
    margin-left: 4%;
    width:120px ;
    height:400px;
    float: left;
    margin-top: 8%;
    /* background-color: #000000;  */
 }
.car-hover img{
    width:70px ;
    height:200px;
    transition: 1s;
}
.car-hover:hover img{
    margin-top: 220px;
}
.information-box2{
    width: 42%;
    height:400px;
    float: left;
    margin-left: 5%;
    /* background-color: #9e9390;  */
    margin-top: 8%;
}
.box2{
    height: 100px;
    /* background-color: blue; */
    margin-bottom: 20px;
    /* margin: auto; */
    text-align: left;
}
.box2 h3{
    color: white;
}
.box2 p{
    font-size: 20px;
    padding-right:35px;
    color:#B1AFB6;
}
.box2 i{
    
    color:#FD5631;
}
.box-rate1{
    width: 42%;
    height: 500px;
    margin-left: 5px;;
    padding-top: 120px;
    box-sizing: border-box;
    /* background-color: #FD5631;  */
}
.app {
    width:180px;
    height: 55px;
    margin-top: 40px;
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    background-color:#282435;
    box-shadow: 0px 0px 15px 4px rgb(227, 218, 236);
}
.app:hover p{
    color:white;
}
.app:hover i{
    color:white;
}
.icon{
    width:50px;
    height: 50px;
    padding: 8px 12px;
    box-sizing: border-box;
    
}
.icon i{
    font-size: 36px;
    color:#B1AFB6;
}
.name-icon{
    width:120px;
    height: 50px;
    float: right;
 }
.box{
    height:20px;
    padding:5px;
    box-sizing: border-box;
}
.box p{
    margin-top: -45%;
    font-size: 13px;
    color: white;
 }
.b1{
    height:25px;
     margin-top: 5px;
    padding-left:3px;
    box-sizing: border-box;
    
}
.b1 p{
   font-size: 20px;
   color: white;
}
.img-rate{
    width: 42%;
    height: 500px;
    margin-left: 5px;;
    margin-top: -44%;
    box-sizing: border-box;
    float: left;
    /* background-color: #FD5631;  */
}
.img-rate{
    width: 42%;
    height: 500px;
    float: right;
}
.img-rate img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 30px;
    transition: 0.5s;
}
.img-rate img:hover{
    transform: scale(1.05)
}
.last-box{
    width: 1240px;
    height:340px;
    margin-top: 60px;
    /* background-color: #FD5631;   */
}
.last-img{
    overflow: hidden;
    width:32.2%;
    height:210px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 20px;
    position: relative;
}
.last-img img{
    height:210px;
    object-fit: cover;
    transition: 0.5s;
    position: absolute;
}
.last-img:hover img{
    transform: scale(1.05)
}
.last-back{
    width:100%;
    height:210px;
    background-color: #00000080;
    position:absolute;
    z-index:2;
    display: none;
}
.last-img:hover .last-back{
    display: block;
}
.last-title{
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 3;
    text-align: center;
    font-size: 20px;
    margin-top: 80%;
    transition: 0.5s;
}
.last-title a{
    text-decoration: none;
    color:white;
    border: 1px solid whitesmoke;
    padding: 10px 15px;
}
.last-img:hover .last-title{
    margin-top: 25%;
}
.end-box{
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 2%;
    background-color: rgb(31, 31, 44); 
}
.footer{
    width: 20%;
    height: 200px;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    float: left;
    /* background-color: rgb(11, 11, 29);  */
    
}
.footer p{
    line-height:30px;
    color: rgb(196, 195, 207);
}
.footer i{
    color:#FD5631;
    margin-left:20px;
    font-size: 20px;
}
.name{
    height: 50px;
    margin-top: 60px;
    padding-top: 10px;
    box-sizing: border-box;
}
.name-sakmith{
    width:40%;
    height: 50px;
    margin-top: -0.1%;
    margin-left: 15%;
    float: left;
    /* background-color: #4b426b; */
}
.os-name-dak{
    width:40%;
    height: 50px;
    float: left;
    /* background-color: #4b426b; */
}
.os-name-dak a{
   margin-left: 55px;
   text-decoration: none;
   color: rgb(250, 250, 255); 
}
.auto-market{
    width: 90%;
    height:250px;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: -9%;
    background-color: #201f2bc2;
    padding: 40px 30px;
    margin-left: 2.5%;
    box-sizing: border-box;
    text-align: center;
    
}





/* catalog */
.bx-img{
    width: 18%;
    height:240px;
    padding: 20px;
    box-sizing: border-box;
}


.bx1{
    width: 18%;
    height: 250px;
    float: left;
    margin-top: -3%;
    box-sizing: border-box; 
    margin-left: 1%;     
    /* background-color: aqua;  */
}
.bx1 p{
   color: rgb(162, 151, 151);
   text-align: center;
   float: left;
   
}
.bx1 img{
    height:70%;
    padding-bottom: 20px;
}
.bx-gotoshop{
    text-decoration:none;
     border-radius: 20px;
      padding: 10px 40px; 
      display: block;
      margin-top:80px;
      border:1px;
      background-color:#FD5631; 
      color:white;
}
.bx1:hover .bx-img{transform: scale(1.05);}
.bx-img{
    height: 100%;
    padding:5px;
    transition: 0.5s;
    
}
.model-car{
    width:90px;
    height:60px;
    float:left;
    margin-left:10px;
}
.model-car img{
    opacity: 40%;
}
.model-car img:hover{
    opacity: 100%;
}
.main-offer{
    width: 99%;
    height:600px;
    float: left;
    margin-top: 2%;
    /* background-color: red;  */
}
.offer1, .offer2{
    width: 47%;
    height: 100%;
    margin-left: 2%;
    float: left;
    background-color:#262235;
    border-radius: 25px;
}
.offer1 img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    transition: 0.3s
}
.offer-icon{
    width:170px;
    height:90px;
    text-align:center;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    float: left;
    background-color: #3d384d;
}
.offer-icon:hover{
    background-color:#FD5631;
}
.offer-icon i{
    font-size: 35px;
    color: white;
}
.Bx1{
    width: 250px;
    height: 280px;
    float: left;
    border-radius: 20px;
    overflow: hidden;
    
}
.Bx2{
    width: 360px;
    height: 280px;
    float: left;
    margin-left: 2%;
    border-radius: 20px;
    background-color:#3d384d;
}
.Bx1 img{
    width: 250px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.3s;
    
}
.Bx1 img:hover{
    transform: scale(1.05);
}
.offer2 img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    transition: 0.3s
}
.offer-icon2{
    width:70px;
    height:90px;
    text-align:center;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    float: left;
    background-color: #3d384d;
}
.offer-icon2:hover{
    background-color:#FD5631; 
}
.offer-icon2 i{
    font-size: 35px;
    color: white;
}

/* Detail page */
.box-container3 a{
    
    text-decoration: none;
    color: white;
}
.title-mercedes{
    width:100%;
    height: 30px;
    /* background-color: red;   */
    padding-top: 30px;
}
.detail-car{
    width: 60%;
    height:450px;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    object-fit: cover;
}
.detail-car img{
    width: 100%;
    height:450px;
    border-radius: 10px;
    object-fit: cover;
}

.detail-car2{
    width: 29%;
    height:450px;
    margin-left: 2%;
    float: left;
}
.detail-car2 p button{
    border: none!important;    
}
.detail-car2 button{
    border-radius: 10px;
    padding: 10px 20px;
}
.sakmith-sell{
    width: 100%;
    height:210px;
    background-color: #262235;
    border-radius: 10px;
    padding:20px 10px;
    box-sizing: border-box;
    margin-top: 40px;
}
.sell1{
    width: 49%;
    height: 170px;
    float: left;
    text-align: center;
}
.sell1 i{
    color: red;
    
}
.sell2{
    width: 50%;
    height: 170px;
    float: right;
    color: rgb(151, 151, 151);
}
.sell2 i{
    color:#FD5631;
}
.profile{
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(19, 0, 0);
    margin: auto;
    margin-top: 10px;
    background-image: url(https://z-p3-scontent.fpnh5-4.fna.fbcdn.net/v/t39.30808-6/327428349_445208331050799_1395979051447933061_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEGfkcqYjreTHaktIRlW-E_G-5uhg1cYd8b7m6GDVxh36MgGVvH2FKmfizgpqFcx1LywR43loM76UG_He_Y8sB6&_nc_ohc=j6hnF2pdFtYAX-Zymjs&_nc_zt=23&_nc_ht=z-p3-scontent.fpnh5-4.fna&oh=00_AfDX_gCNw-ygqalAzw8kVLACvGOgwirceY9xLrVEQfQIEg&oe=6436594F);
    background-repeat: no-repeat;
    background-size: cover;
}

.last-detail{
    width: 100%;
    height: 600px;
    margin-top:-40px;
}
.car-detail-last{
    width: 31.31%;
    height: 400px;
    background-color:  #262235;
    float: left;
    margin-left:3%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 60px;
}
.car-detail-img{
    width: 100%;
    height:200px;
}
.car-detail-img img{
    width: 100%;
    height:200px;
}
.card-detail-informtion{
    width: 100%;
    height:200px;
    padding: 10px;
    box-sizing: border-box;
}
.car-detail-last:hover {
    box-shadow:2px 2px 2px 0px #4b426b;
}
.offer-icon2{
    width:90px;
    height:39px;
    text-align:center;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    float: left;
    background-color: #3d384d;
}
.offer-icon2:hover{
    background-color:#FD5631;
}
.offer-icon2 i{
    font-size: 20px;
    color: white;
}


